<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Esky enum test suit">
            <directory suffix="_Test.php">*</directory>
        </testsuite>
    </testsuites>
    <php>
         <ini name="error_reporting" value="1"/>
    </php>
</phpunit>
